In [1]:
pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
                                              0.0/1.5 MB ? eta -:--:--
     ------------------------                 0.9/1.5 MB 29.1 MB/s eta 0:00:01
     ---------------------------------------- 1.5/1.5 MB 24.2 MB/s eta 0:00:00
Collecting click (from nltk)
  Downloading click-8.1.7-py3-none-any.whl (97 kB)
                                              0.0/97.9 kB ? eta -:--:--
     ---------------------------------------- 97.9/97.9 kB ? eta 0:00:00
Requirement already satisfied: joblib in c:\users\oscar\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.3.1)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2023.10.3-cp311-cp311-win_amd64.whl (269 kB)
                                              0.0/269.6 kB ? eta -:--:--
     ---------------------------------------- 269.6/269.6 kB ? eta 0:00:00
Requirement already satisfied: tqdm in c:\users\oscar\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\oscar\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)
Installing collected packages: regex, click, nltk
Successfully installed click-8.1.7 nltk-3.8.1 regex-2023.10.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script nltk.exe is installed in 'c:\Users\oscar\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\oscar\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\oscar\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [3]:
from nltk.corpus import stopwords

In [4]:
from nltk.stem import PorterStemmer

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
from nltk.tokenize import word_tokenize

In [6]:
text = "I really loved the pasta and the drinks, and I liked the atmosphere. I did not like the salad at the beginning."

In [8]:
tokens = word_tokenize(text.lower())

In [25]:
counts = {}

for i in tokens:
    if i in counts.keys():
        counts[i] += 1
    else:
        counts[i] = 1


counts

{'i': 3,
 'really': 1,
 'loved': 1,
 'the': 5,
 'pasta': 1,
 'and': 2,
 'drinks': 1,
 ',': 1,
 'liked': 1,
 'atmosphere': 1,
 '.': 2,
 'did': 1,
 'not': 1,
 'like': 1,
 'salad': 1,
 'at': 1,
 'beginning': 1}

In [18]:
stop_words = set(stopwords.words('english'))

In [19]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [20]:
filtered_token = [i for i in tokens if i not in stop_words]

In [22]:
filtered_token

['really',
 'loved',
 'pasta',
 'drinks',
 ',',
 'liked',
 'atmosphere',
 '.',
 'like',
 'salad',
 'beginning',
 '.']

In [21]:
filt_token = []

for i in tokens:
    if i in stop_words:
        continue
    else:
        filt_token.append(i)

filt_token

['really',
 'loved',
 'pasta',
 'drinks',
 ',',
 'liked',
 'atmosphere',
 '.',
 'like',
 'salad',
 'beginning',
 '.']

In [23]:
stemmer = PorterStemmer()
stemmed_tokens = [stemmer.stem(t) for t in filtered_token]

In [24]:
stemmed_tokens

['realli',
 'love',
 'pasta',
 'drink',
 ',',
 'like',
 'atmospher',
 '.',
 'like',
 'salad',
 'begin',
 '.']

In [26]:
vectorizer = CountVectorizer()
data_corpus = ["I loved the pasta and salad.", "I hated the salad but the pasta was good.", "I loved the tomatoes."]

In [27]:
vectorizer = CountVectorizer()
data_corpus = ["I loved the pasta and salad.", "I hated the salad but the pasta was good.", "I loved the tomatoes."]
X = vectorizer.fit_transform(data_corpus)
print(X.toarray())

[[1 0 0 0 1 1 1 1 0 0]
 [0 1 1 1 0 1 1 2 0 1]
 [0 0 0 0 1 0 0 1 1 0]]

form a list of unique word and count the occupancy of each word

In [28]:
from nltk.stem import PorterStemmer

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()
X_tfidf = tfidf_vectorizer.fit_transform(data_corpus)

In [30]:
X_tfidf.toarray()

array([[0.56943086, 0.        , 0.        , 0.        , 0.43306685,
        0.43306685, 0.43306685, 0.33631504, 0.        , 0.        ],
       [0.        , 0.39066946, 0.39066946, 0.39066946, 0.        ,
        0.29711419, 0.29711419, 0.46147135, 0.        , 0.39066946],
       [0.        , 0.        , 0.        , 0.        , 0.54783215,
        0.        , 0.        , 0.42544054, 0.72033345, 0.        ]])

In [31]:
import pandas as pd
pd.DataFrame(X_tfidf.toarray())

,0,1,2,3,4,5,6,7,8,9
0,0.569431,0.000000,0.000000,0.000000,0.433067,0.433067,0.433067,0.336315,0.000000,0.000000
1,0.000000,0.390669,0.390669,0.390669,0.000000,0.297114,0.297114,0.461471,0.000000,0.390669
2,0.000000,0.000000,0.000000,0.000000,0.547832,0.000000,0.000000,0.425441,0.720333,0.000000

In [32]:
tfidf_vectorizer.get_feature_names_out()

array(['and', 'but', 'good', 'hated', 'loved', 'pasta', 'salad', 'the',
       'tomatoes', 'was'], dtype=object)

In [33]:
sentence_data = pd.DataFrame(X_tfidf.toarray(), columns = tfidf_vectorizer.get_feature_names_out())

In [34]:
sentence_data

,and,but,good,hated,loved,pasta,salad,the,tomatoes,was
0,0.569431,0.000000,0.000000,0.000000,0.433067,0.433067,0.433067,0.336315,0.000000,0.000000
1,0.000000,0.390669,0.390669,0.390669,0.000000,0.297114,0.297114,0.461471,0.000000,0.390669
2,0.000000,0.000000,0.000000,0.000000,0.547832,0.000000,0.000000,0.425441,0.720333,0.000000